<?xml version="1.0"?>
<!--
/**
 * Copyright © Ronangr1. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="ringado" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
            <label>Ringado</label>
            <tab>ronangr1</tab>
            <resource>Ronangr1_Ringado::config_system</resource>
            <group id="general" translate="label comment" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="enable" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <config_path>ringado/general/enable</config_path>
                </field>
                <field id="operator_id" translate="label comment" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Operator ID</label>
                    <config_path>ringado/general/operator_id</config_path>
                    <comment><![CDATA[<a href="https://ringado.com/signup">Sign up</a> to get your Operator ID]]></comment>
                </field>
            </group>
        </section>
    </system>
</config>
